.root {
	-fx-background-color: #6897b8;
}

.animal-pane {
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: 3.0;
}

.slogo-title {
	-fx-font-size: 30;
	-fx-stroke: black;
	-fx-stroke-width: 1.5;
	/*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );*/
	/*-fx-text-alignment: center;*/
}

.top-pane {
	-fx-padding: 5 0 0 17;
}

.left-pane {
	-fx-padding: 5 15 25 15;
}

.right-pane {
	-fx-padding: 6 36 0 0;
}

.language-button {
	-fx-padding: 0 0 0 0 ;
}